.App {
  /* max-height: 111vh; */
  color: #c5c6c7;
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  height: 100vh;
  font-family: "Neucha", cursive;
  margin: 0 auto;
  background: rgb(39, 142, 165, 0.2) url("../assets/background.svg") repeat-x
    center bottom;
  box-sizing: border-box;
  letter-spacing: 2px;
}

.App-header svg.loading-svg {
  width: 80px !important;
  height: auto;
  margin-top: -25px !important;
}

.App-header {
  font-size: calc(5px + 2vmin);
  text-align: center;
  background-color: #1f2833;
  min-height: 50vh;
  padding: 10px;
  /* for left-corner ribbon */
  position: relative;
}

.App-header h3 {
  font-size: 1.2em;
}

.App-header span {
  display: block;
}

.App-header svg {
  width: 150px;
  padding-top: 10px;
  height: auto;
}

.App-header h3 span {
  letter-spacing: 2px;
  text-decoration: underline;
  color: #45a29e;
  margin: 5px 0;
}

.App-header form {
  padding: 6px 0px;

  font-family: "Neucha", cursive;
}

.App-header input {
  border: 3px solid #364f6b;
  font-size: 1.1em;
  padding: 6px 2px 3px 15px;
  border-radius: 3px;
  background: transparent;
  color: #c5c6c7;
  font-weight: 500;
  letter-spacing: 3px;

  font-family: "Neucha", cursive;
}

.App-header form button {
  color: #c5c6c7;
  padding: 4px;
  font-family: "Neucha", cursive;
}

button {
  margin-left: 10px;
  border: 3px solid #364f6b;
  font-size: 1.1em;
  padding: 3px 20 3px 20px;
  display: inline-block;
  border-radius: 5px;
  background: transparent;
  color: #1f2833;
  font-weight: 500;
  letter-spacing: 1px;
}

.label {
  padding: 10px 0px;
  color: #fc5185;
  font-size: 1.2em;
}

/* Main Section */
main {
  position: relative;
}

section {
  position: absolute;
  height: 40vh;
  width: 90%;
  left: 5vw;
  /* background: rgb(39, 142, 165, 1); */
  padding: 2px;
  background: rgb(39, 142, 165, 1) url("../assets/background.svg") no-repeat;
  top: -13vh;
  border-radius: 10px;
  z-index: 100;
}

h3.svg-label {
  left: 31%;
  border-radius: 10px;
  background: #fc5185;
  padding: 2px 10px;
  position: absolute;
  top: -35px;
  display: inline-block;
  box-shadow: 3px 3px 3px #444;
}

/* ShowRacebarGraph.jsx */
.race-bar-graph {
  height: 94%;
  width: 96%;
  margin: 0 auto;
  background: rgb(39, 60, 123, 0.6);
  padding-top: 0;
  border-radius: 10px;
  margin-top: 10px;
}

.race-bar-graph svg {
  box-sizing: border-box;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 3px 5px black;
}

.defs-rect {
  opacity: 0.2;
}

.week-number {
  font-size: 1.4rem;
  font-weight: bolder;
}

.week-number text {
  padding: 10px;
}

.week-number .date {
  font-size: 1rem;
}

.user-info {
  color: #1f2833;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

.user-info img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.who-won {
  color: #1f2833;
  text-align: center;
  margin-top: 3vh;
  display: flex;
  justify-content: space-evenly;
}

.who-won h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.1em;
}

.won-day {
  font-size: 1em;
  font-weight: 700;
  text-decoration: underline;
  color: #fc5185;
}

text {
  font-weight: 500;
}

text.count-number {
  fill: gold;
}

/* Desktop First Approach */
@media (min-width: 460px) and (max-width: 520px) {
  .App-header {
    min-height: 49vh;
    padding: 10px;
  }

  .App-header form {
    margin-top: -0.5em;
  }

  section {
    width: 80%;
    left: 10%;
    padding: 5px;
    top: -9.5vh;
  }

  h3.svg-label {
    left: 40%;
    border-radius: 10px;
  }
}

@media (min-width: 520px) and (max-width: 968px) {
  .App-header {
    min-height: 53vh;
  }

  .App-header form {
    margin-top: -1em;
  }

  .App-header span {
    display: inline;
  }

  h3.svg-label {
    left: 40%;
    border-radius: 10px;
  }

  section {
    height: 42vh;
    width: 80%;
    left: 10%;
    top: -15vh;
  }
}

@media (min-width: 968px) {
  .App-header {
    min-height: 53vh;
  }

  .App-header form {
    margin-top: -0.8em;
  }

  .App-header span {
    display: inline;
  }

  main {
    width: 80vw;
    padding: 10px;

    margin: 0 auto;
  }

  h3.svg-label {
    left: 44%;
  }

  section {
    height: 42vh;
    width: 60%;
    left: 20%;
    top: -15vh;
  }
}

/* Height Responsive */
@media (max-height: 1021px) {
  .App {
    height: 107vh;
  }
  main section {
    top: -7vh;
  }
  .who-won {
    margin: 5vh;
    margin-bottom: 0;
  }
}

@media (max-height: 821px) {
  .App {
    height: 111vh;
  }
  main section {
    top: -7vh;
  }
  .who-won {
    margin: 5vh;
  }
}

@media (max-height: 640px) {
  .App {
    height: 134vh;
  }
  .App-header {
    min-height: 54vh;
  }
  main section {
    position: unset;
    height: 44vh;
    width: 95%;
    margin: 0 auto;
  }

  .who-won {
    margin: 5vh;
  }
}

@media (max-height: 440px) {
  .App {
    height: 160vh;
  }
}
